* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
width: 600px;
height: 800px;

}
 */

/* has-text-right */

/* .columns:not(.is-desktop) {
    display: flex;
    align-items: flex-start;
} */

/* body {
    background-image: 
        linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
        url("logoEcoEats.jpg");
} */