* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

/*     background: rgb(180, 247, 180);
    background-color: rgb(181, 238, 97);
 */    

    background: linear-gradient( #cff2dc80, rgb(250, 247, 249));
  
    

/*  
    background-color: aqua;
    background: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
 background: linear-gradient(rgba(189, 189, 233, 0.5), rgba(243, 243, 157, 0.5));
    background: linear-gradient(rgba(189, 189, 233, 0.5), rgba(243, 243, 157, 0.5), rgb(242, 193, 227));




    
 */
}

body{
    position: relative;
        left:  10%;
}

/* NE MARCHE PAS
img[title] {
    background-color: rgb(184, 231, 184);
}
 */


/*  POUR FAIRE LE FILIGRANE DES BOITES MAIS PAS BIEN COMPRIS

#apropos {
    position: relative;
    padding: 2rem;
    background-color: white;
    overflow: hidden;
}

/* Image en arrière-plan (filigrane) */
/* #apropos ::before {
    content: "";
    background-image: url('logoEcoEats.jpg'); */ /* Remplace par le chemin de ton image */
   /*  background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1; */ /* Ajuste l'opacité pour l'effet filigrane */
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
} */

/* Le contenu doit être au-dessus de l'image */
/* #apropos h1, #apropos p {
    position: relative;
    z-index: 1;
} */





/* body {
width: 600px;
height: 800px;

}
 */

/* has-text-right */

/* .columns:not(.is-desktop) {
    display: flex;
    align-items: flex-start;
} */

